html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url("http://i.imgur.com/SC9RIdD.jpg");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
margin: 0;
padding: 0;
}
 p {
   color: #000000;
   font-family: 'Lobster', cursive;
   font-weight: normal;
   font-size: 30px;
  }
 h1 { background-color: rgba(198,248,255,0.5);
     color:#B5FED9;
 font-family:'Sedgwick Ave', cursive;
 font-weight: bolder;
font-size: 200px;
margin:0;
padding:0;
}

h2 { color: #77FFDD;
font-family:  'Abril Fatface', cursive;
font-weight: bold;
font-size: 50px;
margin:0;
padding: 0;
}
footer {
  background-color: rgba(198,248,255,0.5) ;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

/* sections */

.about img{
  float: right;
  border-radius: 200px;
  margin: 0;
  padding: 0;
}
.loves {
  text-align: center;
  background-color: rgba(198,248,255,0.5);
  margin: 0;
  padding: 0;
}
.image1 {
  border-radius: 900px;
}
.image2{
  border-radius: 70px;
}
.image3{
  border-radius: 40px;
}
.about {
background-color:  rgba(198,248,255,0.5);
margin: 0;
padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
