/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
   background-image: url("http://i.imgur.com/M68ypVU.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
 font-family:'Sedgwick Ave Display', curisve;
 font-weight:lighter;
 color: white;
 margin: 0;
 padding: 0;

}
header{
	padding-top: 20px;
	text-align:center;
}

img{
	padding-top:10px;
}
h1 ;{
	font-family: 'Sedgwick Ave', cursive;
margin: 0 ;
padding: 0;
}
.about{
	text-align: center;
}
.about p{
	font-size: 30px;
}
a{
	font-size: 30px;


} footer{
	text-align: center;}

.loves p { font }

.about h1 {text-align: center;
  font-family: 	}

.loves p { 
text-align: center;
}

.loves p { 
font-size: 30px; }

.footer p { font-size:  30px;  
}

.profile-img {border-radius:50%; }

.footer p { font-size: 30px; }

















a {
  padding: 10px;
}
a:hover { 
  border: 1px none ;
  background: white;
    color: black;
}